body {
    background-color: #CDEAFB;
    font-family: 'Poppins', sans-serif;
    
}

header {
    background-color: #0B8109;
    padding: 2%;;
}

h1 {
    font-size: 48pt;
    text-align: center;
    font-weight: normal;
    color: #CDEAFB;
}

h3 {
    font-size: 20pt;
}


main {
    width: 70%;
    margin: auto;
}

#intro {
    font-size: 18pt;
}

.step {
    display: flex;
    gap: 10%;
    margin: 3%;
    font-size: 20pt;
    /* border: 3px red solid; */
}

.tip {
    color: #0B8109;
}



.pic img {
    width: 400px;
}

#conclusion {
    font-size: 20pt;
    margin: auto;
    width: 100%;
}

#lastPic {
    width: 1000px;
}

