body {
    background-color: #FFFEFE;
    font-family: 'Poppins', sans-serif;
    
}

header {
    background-color: #E35C5C;
    padding: 2%;
}

h1 {
    font-size: 48pt;
    text-align: center;
    font-weight: normal;
    color:#FFFEFE
}

h2 {
    margin-top: 0;
}

h3 {
    font-size: 20pt;
}


main {
    width: 70%;
    margin: auto;
}

#intro {
    font-size: 18pt;
}

.step {
    display: flex;
    gap: 7%;
    margin: 1%;
    font-size: 20pt;
    /* border: 3px red solid; */
}


.tip {
    color: #E35C5C;
}



.pic img {
    width: 400px;
}

#conclusion {
    font-size: 20pt;
    margin: auto;
    width: 100%;
}

span {
    color:#E35C5C;
}

#lastPic {
    width: 1000px;
}

footer {
    background-color: #E35C5C;
    padding: 2%;
}

